<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DinhDnag.css" rel="stylesheet" />
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />

<style>
    body {
        position: relative;
        height: 100%;
    }

    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        height: 160px;
        z-index :0;
        
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width:150px;
        height:120px;
        margin:10px;
    }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>
 </head>
<body>
    <div class="header" id="header">
        <div class="container">
            <div class="row" style="margin-bottom:10px ;margin-top:15px">
                <div class="col-md-3">
                    <a href="@Url.Action("TrangChu","Home")"><img src="https://firebasestorage.googleapis.com/v0/b/webgrabfood.appspot.com/o/grabfood-logo.png?alt=media&token=8e81eacb-4db3-4e37-a74d-a90ea8be0665" style="width:100% ;height:100%" /></a>
                </div>
                <div class="col-md-6">
                    <form class="form-inline" style="padding-top:10px" action="/Home/KetQuaTimKiem" method="post">
                        <input type="text" name="txtTK" placeholder="Nhập món bạn cần tìm" style="width:75%;height:30px;border-radius:5px" />
                        <input type="submit" value="Tìm Kiếm" style="width:15%;height:30px;border-radius:5px" />
                    </form>
                </div>
                <div class="col-md-3">
                    @Html.Action("taikhoan", "Home")
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <div id="footer">
        <img src="https://firebasestorage.googleapis.com/v0/b/grabfood-7b5a8.appspot.com/o/Image%2FFooterGrab.png?alt=media&token=2e9a79fc-ad4f-40da-85bb-010814e580ca" />
    </div>
    <div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Content/thanhcuon.js"></script>
    <script src="~/Content/Food.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/tinhthanhapi.js"></script>
</body>
</html>
